/*GERAL///////////////////////////*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 87.5%;
  }
  #index main {
    flex-direction: column;
  }

  #section-read #read-notes-list p {
    flex-basis: 80%;
  }

  #write-input.edit-mode {
    height: max-content;
  }
}

header {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}

nav li {
  margin: 1rem;
  padding: 5px;
  list-style-type: none;
}

h1 {
  margin: 30px 30px;
  font-weight: 700;
}

/*INDEX///////////////////////////*/

#index {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: hsl(32, 100%, 94%);
}

#index a {
  text-decoration: none;
}

#index #nav-history {
  color: hsl(38, 9%, 17%);
}

#index main {
  display: flex;
  flex: 1;
}

#index,
#index .write-buttons,
#index #write-input {
  font-family: 'Merriweather Sans', sans-serif;
}

/*-----SECTION-WRITE-----*/

#section-write {
  flex: 1;
}

#write-panel {
  display: flex;
  position: sticky;
  top: 50px;
  flex-direction: column;
  align-items: center;
}

#write-label {
  text-align: center;
  font-weight: 700;
  font-size: 1.3rem;
}

#write-input {
  height: 6rem;
  width: 60%;
  margin: 10px;
  padding: 10px;

  font-size: 1rem;

  border-width: 5px;
  border-radius: 20px;
  border-color: #ffe396;
  border-style: solid;

  transition: all 0.2s ease;
}

#write-input.edit-mode {
  width: 80%;
  height: 60vh;
}

#write-input:focus {
  outline: 0;
  border-color: #e0d204;
  box-shadow: 0 0px 30px 5px #cac362;
}

#write-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.write-buttons {
  color: #3d2204;
  background: #ff9011;
  padding: 0.7rem 1.8rem;

  border-style: none;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 700;
  transition: all 0.2s;
}

.write-buttons:focus {
  outline: 0;
}

.write-buttons:active:enabled {
  transform: scale(0.8);
}

.write-buttons:hover:enabled {
  filter: brightness(90%);
  cursor: pointer;
}

.write-buttons:disabled {
  filter: opacity(30%);
  transform: scale(0.95);
}

/*-----SECTION-READ-----*/

#section-read {
  flex: 2;
}

#section-read.edit-mode {
  pointer-events: none;
  opacity: 0.4;
}

.read-panel {
  margin-top: 10px;
  border-style: none;
}

#read-notes-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#section-read p {
  white-space: pre;
  flex-basis: 30%;
  margin: 1rem;
  padding: 30px;

  background-image: linear-gradient(
    150deg,
    hsl(33, 38%, 82%),
    hsl(33, 24%, 72%)
  );
  border-radius: 20px;
  box-shadow: 2px 9px 5px 1px hsla(33, 10%, 18%, 20%);

  list-style-type: none;

  transition: transform 0.1s;
}

.action-buttons {
  color: #2e231d;
  transition: transform 0.1s;
}

.action-buttons:hover {
  transform: scale(1.2);
}

.action-buttons:active {
  transform: scale(0.9);
  outline: 0;
}

/* ABOUT DESIGN///////////////////////////*/
#about {
  display: flex;
  flex-direction: column;
  font-family: 'Merriweather Sans', sans-serif;
  background-color: hsl(163, 100%, 94%);
}

#about h1 {
  margin: 30px 30px 0 30px;
  font-weight: 700;
}

#about h2 {
  margin-left: 30px;
}

#about h3 {
  margin: 10px 0;
  font-size: 1.3rem;
}

#about #logo {
  display: flex;
  flex-direction: column;
}

#about-app {
  margin: 3rem;
}

#about-history {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  max-width: fit-content;
}

.about-history-point {
  margin-bottom: 1rem;
}

.about-history-point-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

#about-history-point-actual {
  border: 1px hsl(163, 11%, 62%) solid;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1.5rem 0;
}

.about-history-point-version {
  font-size: 1.5rem;
}
