* {
  margin: 0;
  padding: 0;
}

@media (max-width: 1000px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 87.5%;
  }
  main {
    flex-direction: column;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: hsl(32, 100%, 94%);
}

main {
  display: flex;
  flex: 1;
}

body,
button,
textarea {
  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
  margin: 30px 30px;
  font-weight: 700;
}


#writeSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#readSection {
  flex: 2;
}


#labelNote {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

textarea {
  margin: 10px;
  padding: 10px;
  border-width: 5px;
  border-radius: 20px;
  border-color: #ffe396;
  border-style: solid;

  transition: all 0.2s ease;
}

textarea:focus {
  outline: 0;
  border-color: #e0d204;
  box-shadow: 0 9px 20px 3px #cac362;
}

button {
  border-style: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 700;
  transition: 0.1s;
}

button:focus {
  outline: 0;
}

button:active {
  filter: brightness(85%);
  transform: translateY(0.5rem);
}

button:hover {
  filter: brightness(90%);
}

#noteButtonDo {
  color: #3d2204;
  background: #ff9011;
  padding: 10px 20px;
}

.enoteList {
  margin-top: 10px;
  border-style: none;

}


#listDo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}


li {
  flex-basis: 20%;
  
  margin: 1rem;
  padding: 30px;

  background-color:hsl(33, 38%, 82%);
  border-radius: 20px;
  box-shadow: 2px 9px 5px 1px hsla(33, 10%, 18%, 20%);

  list-style-type: none;
}

a {
  text-decoration: none;
  color: #2f2723;
}

a:hover {
  filter: brightness(20%);
}
