* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 2000px) {
  .greeting-policies-container {
    margin: 0 30%;
  }

  #about main {
    margin: 0 25%;
  }

  #section-write {
    flex: 1;
  }

  #section-read {
    flex: 2;
  }
  #read-notes {
    max-height: 60vh;
    overflow-y: auto;
  }

  #section-read #read-notes .note-container {
    max-width: 40%;
  }
}

@media (max-width: 1000px) {
  #index .greeting-description-container-all {
    grid-template-columns: repeat(2, 1fr);
  }

  #about main {
    margin: 0 20%;
  }

  #section-write {
    flex: 1;
  }

  #section-read {
    flex: 2;
  }
  #read-notes {
    max-height: 60vh;
    overflow-y: auto;
  }

  #section-read #read-notes .note-container {
    max-width: none;
  }
}

@media (max-width: 800px) {
  #index .greeting-description-point {
    font-size: 1.35rem;
  }

  .greeting-policies-container {
    margin: 0 15%;
  }

  #index #section-write {
    flex: 5;
  }

  #index #section-read {
    flex: 4;
  }

  #section-read #read-notes .note-container {
    max-width: none;
  }
}

@media (max-width: 600px) {
  #index .greeting-description-container-all {
    grid-template-columns: repeat(1, 1fr);
  }

  .greeting-policies-container {
    margin: 0 10%;
  }

  #index header,
  #about header {
    margin: 1rem 1.5rem;
  }

  #index main {
    flex-direction: column;
  }

  #index #section-write {
    flex: initial;
  }

  #section-write #write-panel.edit-mode {
    height: 60vh;
    flex: 1;
  }

  #section-write #write-options {
    right: 40px;
    width: 2.5rem;
    height: 2.5rem;
  }

  #section-read {
    flex-direction: column;
    min-height: 100vh;
  }

  #section-read #read-notes {
    justify-content: center;

    max-height: max-content;
    overflow-y: hidden;
  }

  #index #read-panel {
    flex-direction: column;
  }

  #section-read #read-notes .note-container {
    max-width: 40vw;
  }

  #about main {
    margin: 0 1rem;
  }

  #about #advanced-switch {
    padding: 0.3rem 3rem;
  }
}

@media (max-width: 450px) {
  .greeting-policies-container {
    margin: 0 5%;
  }

  #index #logo {
    font-size: 2rem;
  }

  #index #nav-options {
    gap: 0.3rem;
    font-size: 80%;
  }

  #index #theme-container {
    transform: scale(0.8);
    gap: 0.3rem;
  }

  #index #theme-container:active {
    transform: scale(0.7);
    gap: 0.3rem;
  }

  #section-read #read-notes .note-container {
    max-width: none;
    flex-basis: 90%;
  }

  #about #about-dev-name {
    font-size: 1.2rem;
  }
}

/*COLORS*/
:root {
  font-size: var(--base-rem);
  --base-color: hsla(var(--hue), var(--saturation), var(--lum-back), 1);
  --base-color-transparent: hsla(
    var(--hue),
    var(--saturation),
    var(--lum-back),
    0.7
  );
  --base-text: hsla(var(--hue), var(--saturation), var(--lum-front), 1);
  --base-buttons: hsla(
    var(--hue),
    var(--accent-saturation),
    calc(10% + var(--lum-mid)),
    1
  );
  --color-theme-container: hsla(
    var(--hue),
    var(--accent-saturation),
    var(--lum-accent-container),
    1
  );
  --base-write-input-placeholder: hsla(
    var(--hue),
    var(--accent-saturation),
    var(--lum-front),
    0.5
  );
  --base-write-input-inside: hsla(
    var(--hue),
    var(--saturation),
    var(--lum-front-inverse),
    1
  );
  --base-write-input-outside: hsla(
    var(--hue),
    var(--accent-saturation),
    var(--accent-lum),
    1
  );
  --base-note-container: hsla(
    var(--hue),
    var(--accent-saturation),
    var(--lum-accent-container),
    1
  );
  --base-note-action-container: hsla(
    var(--hue),
    var(--accent-saturation),
    calc(-5% + var(--lum-accent-container)),
    1
  );
  --base-note-action-button: hsla(
    var(--hue),
    var(--saturation),
    var(--lum-front),
    1
  );
}

/*NAV (TODAS AS PÁGINAS)*/
header {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 2rem 4rem;
  -webkit-user-select: none;
  user-select: none;
}

nav {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#nav-options {
  display: flex;
  gap: 1rem;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

#logo {
  font-family: 'DM Serif Text', serif;
  color: var(--base-text);
  font-style: italic;
  font-weight: bold;
  font-size: 2.5rem;
  padding-bottom: 7px;
}

#nav-link {
  color: var(--base-text);
}

#nav-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

/*INDEX///////////////////////////*/

#index {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
  background-color: var(--base-color);
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-font-smoothing: antialiased;
}

#theme-container {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.4rem 0.5rem;
  gap: 0.5rem;
  border-radius: 2rem;
  border: 1px solid var(--color-theme-container);

  background-color: var(--base-color);
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1rem;
  color: var(--base-text);

  cursor: pointer;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#theme-container:active {
  transform: scale(0.9);
  background-color: var(--color-theme-container);
}

#theme-color {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  background-color: var(--color-theme-container);
}

#index main {
  display: flex;
  flex: 1;
}

#index,
#index #write-input {
  font-family: 'Merriweather Sans', sans-serif;
}

/*-----SECTION-WRITE-----*/

#info-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-bottom: 2rem;
  -webkit-user-select: none;
  user-select: none;

  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

#info-panel.edit-mode {
  margin: 0;
  opacity: 0;
}

.info-element {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;

  font-family: 'DM Serif Text', serif;
  font-style: italic;
  font-weight: bold;
  font-size: clamp(1rem, 5vw, 1.2rem);
  text-align: center;

  color: var(--base-text);

  white-space: pre-wrap;

  filter: opacity(80%);
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}

#write-panel {
  display: flex;
  position: sticky;
  top: 50px;
  flex-direction: column;
  align-items: center;
}

#write-panel.edit-mode {
  height: 100%;
}

#write-label {
  text-align: center;
  font-weight: 700;
  font-size: 1.3rem;
  color: var(--base-text);
  -webkit-user-select: none;
  user-select: none;
}

#write-options {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--base-buttons);
  border-color: var(--base-text);
  border-width: 5px;
  box-shadow: 0px 3px 5px black;
  -webkit-user-select: none;
  user-select: none;

  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#write-options.edit-mode {
  transition: none;
  top: 100px;
}

#write-input {
  display: flex;
  height: 6rem;
  max-height: 60vh;
  width: 65%;
  margin: 4px 10px 4px 10px;
  padding: 10px 20px 10px 10px;

  resize: none;

  font-size: 1rem;

  color: var(--base-text);
  background-color: var(--base-write-input-inside);

  border-width: 3px;
  border-radius: 20px;
  border-color: var(--base-write-input-outside);

  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#write-input.edit-mode {
  width: 80%;
  flex: 1;
  height: auto;
}

#write-input:focus {
  width: 80%;
  height: 7rem;
  outline: 0;
  border-width: 7px;
  box-shadow: 0 0 30px var(--base-write-input-outside);
}

#write-input::placeholder {
  color: var(--base-write-input-placeholder);
}

#write-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.write-buttons {
  color: var(--base-text);
  background: var(--base-buttons);
  padding: 1.5rem 1.8rem;

  border-style: none;
  border-radius: 1.3rem;

  font-family: 'DM Serif Text', serif;
  font-style: italic;
  font-size: 1.4rem;
  font-weight: 700;

  line-height: 0px;

  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-user-select: none;
  user-select: none;
}

.write-button-edit {
  margin: 1rem 0.5rem;
  padding: 0.8rem 1.8rem;
}

.write-buttons:active:enabled {
  transform: scale(0.8);
}

.write-buttons:hover:enabled {
  filter: brightness(90%);
  cursor: pointer;
}

.write-buttons:disabled {
  filter: opacity(30%);
  transform: scale(0.95);
}

/*-----SECTION-READ-----*/

#section-read {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

#section-read.edit-mode {
  pointer-events: none;
  opacity: 0.4;
}

#read-panel {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 10px;
  border-style: none;

  opacity: 0;
  transform: translateY(10px);
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#read-options {
  display: flex;
  justify-content: end;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#read-options-sort {
  display: flex;
  color: var(--base-text);
  text-decoration: underline;

  font-family: 'Merriweather Sans', sans-serif;
  color: var(--base-text);
  background-color: transparent;
  font-size: 1rem;

  margin: 0 1rem;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

#read-notes {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

#section-read .note-container,
#modal .note-container {
  display: flex;
  flex-direction: row;
  height: max-content;
  margin: 1rem;

  background-color: var(--base-note-container);

  border-width: 6px;
  border-color: var(--base-text);
  border-radius: 1.2rem;
  box-shadow: 2px 9px 5px 1px hsla(33, 10%, 18%, 20%);

  list-style-type: none;

  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#section-read .note-container:hover {
  transform: scale(1.02);
  cursor: pointer;
}

#section-read .note-text-container,
#modal .note-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#section-read .action-buttons-container {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  align-items: center;
  border-radius: 1.2rem 0 0 1.2rem;
  background-color: var(--base-note-action-container);
}

#index .action-buttons {
  font-size: 2rem;
  background-color: transparent;
  color: var(--base-note-action-button);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  padding: 0.5rem 0.3rem;
  -webkit-user-select: none;
  user-select: none;
}

.action-buttons:hover {
  transform: scale(1.2);
}

.action-buttons:active {
  transform: scale(0.9);
  outline: 0;
}

#section-read .note-text-container,
#modal .note-text-container {
  display: flex;
  flex: 1;
  padding: 1rem 1rem 0.3rem 1rem;
}

#section-read .note-date-container p,
#modal .note-date-container p {
  font-style: italic;
  margin-top: 1rem;
  font-size: 65%;
}

.note-container p {
  color: var(--base-text);
  white-space: pre-wrap;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;

  cursor: default;
  -webkit-user-select: none;
  user-select: none;
}

footer p {
  font-weight: bold;
  color: var(--base-text);
  padding: 0.1rem 0.5rem;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: var(--base-text);
  border-radius: 10px 10px 0 0;
}

footer p span {
  font-size: 150%;
  font-style: italic;
  font-family: 'DM Serif Text', serif;
  padding-right: 0.2rem;
}

/*GREETINGS DESIGN///////////////////////////*/
.greeting-section {
  display: flex;
  flex-grow: 1;
}

.greeting-panel {
  display: flex;
  flex: 1;

  flex-direction: column;

  align-items: center;
  justify-content: center;

  padding: 1rem;
  padding-top: 3rem;

  background-color: hsl(32, 80%, 85%);

  filter: brightness(90%);
  border-radius: 15px;
}

.greeting-title-container {
  display: flex;
}

.greeting-title1 {
  font-size: 2rem;
  text-align: center;
}

.greeting-title-icon {
  height: 3rem;
  width: auto;
}

.greeting-title2 {
  font-size: clamp(2rem,10vw,3.5rem);
  font-family: 'DM Serif Text', serif;
  padding-top: 0.25rem;
  padding-left: 0.6rem;
  font-style: italic;
  font-weight: bold;
  line-height: 2rem;
}

.greeting-description-title {
  margin: 2rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: 2px underline;
}

.greeting-description-container-all {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(auto, auto);
}

.greeting-description-container {
  background-color: hsl(32, 70%, 80%);
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border-radius: 1rem;
}

.greeting-description-image {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.greeting-description-point {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1rem;
  font-size: 1.1rem;
  text-align: center;
}

.greeting-description-intro {
  font-weight: bold;
  font-family: 'DM Serif Text', serif;
  font-style: italic;
  font-size: 1.6rem;
  font-weight: 700;
}
.greeting-policies-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting-policies-text {
  font-size: 105%;
}

.greeting-policies-text-link {
  font-size: 105%;
  text-align: justify;
  text-decoration: underline;
  cursor: pointer;
}

.greeting-policies-description {
  font-size: 85%;
  opacity: 70%;
}

.greeting-policies-warning {
  margin: 3rem 0;
  padding: 2rem;
  font-size: 110%;

  border: 1px solid black;
  border-radius: 10px;
}

.greeting-buttons {
  background: #e4b686;
  margin: 30px 0;
  padding: 1.5rem 1.8rem;

  border-style: none;
  border-radius: 1.3rem;

  font-family: 'DM Serif Text', serif;
  font-style: italic;
  font-size: 1.4rem;
  font-weight: 700;

  line-height: 0px;

  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-user-select: none;
  user-select: none;
}

.greeting-buttons:hover {
  transform: scale(1.05);
}

/* PÁGINA SAIBA MAIS///////////////////////////*/
#about {
  display: flex;
  flex-direction: column;
  font-family: 'Merriweather Sans', sans-serif;
  background-color: var(--base-color);
  color: var(--base-text);
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

#about a {
  color: var(--base-text);
}

#about h2 {
  font-size: 1.5rem;
}

.settings-point {
  margin: 2rem 0;
}

.options-container {
  display: flex;
  margin: 0.5rem 0;
  gap: 1rem;
}

.option-point {
  width: fit-content;
  padding: 0.2rem 0.5rem;
  border: 1px solid var(--base-text);
  border-radius: 2rem;

  font-size: 1.1rem;
  font-family: 'Merriweather Sans', sans-serif;
  color: var(--base-text);
  background-color: var(--base-color);

  cursor: pointer;
}

#copy-details-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 10px;
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem 0;
  padding: 1rem;
  border: 1px solid;
  border-color: var(--base-text);
  border-radius: 2rem;
}

#about-button-policies {
  margin-top: 2rem;
  font-family: 'Merriweather Sans', sans-serif;
  color: var(--base-text);
  background-color: var(--base-color);
}

#policies-container-info {
  margin-top: 2rem;
  border-top: 1px dotted var(--base-text);
}

#policies-container-info p {
  margin-top: 0.5rem;
}

#about-section-dev {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;

  padding: 1rem;
  margin: 0 0 4rem 0;
}

#about-dev-name {
  font-family: 'DM Serif Text', serif;
  color: var(--base-text);
  font-style: italic;
  font-weight: bold;
  font-size: 1.5rem;
}

#about-dev-description {
  font-size: 1.1rem;
}

#about-section-dev a {
  text-decoration: underline;
}

#about-section-dev-image {
  height: 6rem;
  width: auto;

  margin-bottom: 0.3rem;
}

#about-section-dev-mail {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin-top: 1rem;
}

.logo-inline {
  font-family: 'DM Serif Text', serif;
  font-style: italic;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 0;
}

#about-update-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px dotted var(--base-text);

  margin: 0.8rem 0.5rem;
  padding: 0.6rem 0;

  position: sticky;
  top: -2px;
  z-index: 1;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: var(--base-color-transparent);
}

#advanced-switch {
  text-align: center;
  padding: 0.3rem;
  border: 1px solid;
  border-color: var(--base-text);
  border-radius: 2rem;

  cursor: pointer;
}

#about-update-gen-actual {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 1.5rem 0;
}

#cupcake-container {
  display: flex;
  max-height: 12rem;
}

#cupcake-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#cupcake-outline {
  position: absolute;
  height: 12rem;
  width: auto;
  opacity: 80%;
}

@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

#cupcake {
  position: relative;
  height: 12rem;
  width: auto;
  padding-left: 1.5rem;
  margin-bottom: 0.5rem;
}

#cupcake.clickable:active {
  filter: contrast(90%);
  transform: scale(0.98);
}

#gen-child-1 {
  font-family: 'DM Serif Text', serif;
  font-style: italic;
  font-weight: bold;
  font-size: 2rem;
}

#gen-child-2 {
  padding: 0 1rem;

  font-size: 1.2rem;
  font-weight: bold;
}

#about-update-orblend {
  display: flex;
  flex-direction: column;
  margin: 0.8rem;
}

#about-update-preview {
  margin: 1rem;
}

#about-section-update {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;

  border: 1px solid;
  border-color: var(--base-text);
  border-radius: 2rem;
}

.about-update-point {
  margin-bottom: 2rem;
}

#about-update-list {
  padding: 0 1rem;
}

.update-description {
  margin-bottom: 0.5rem;
}

.update-type {
  border: 1px solid;
  border-color: var(--base-text);
  border-radius: 8px;
  padding: 0.08px 3px;
  margin-right: 4px;
}

.about-update-point-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.update-advanced {
  font-size: 1.1rem;
  text-decoration: underline dotted 1.3px;
  text-decoration-color: var(--base-text);
}

#about-update-point-actual {
  border: 1px solid;
  border-color: var(--base-text);
  border-radius: 1rem;
  padding: 1rem;
  margin: 1.5rem 0;
}

.about-update-point-version {
  font-size: 1.7rem;
  font-weight: bold;
}
