/*GERAL///////////////////////////*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 2000px) {
  .greeting-panel {
    padding: 10% 25%;
  }

  #about main {
    margin: 0 25%;
  }

  #section-write {
    flex: 1;
  }

  #section-read {
    flex: 2;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 93.75%;
  }

  .greeting-panel {
    padding: 10% 20%;
  }

  #about main {
    margin: 0 20%;
  }

  #section-write {
    flex: 1;
  }

  #section-read {
    flex: 2;
  }
}

@media (max-width: 800px) {
  #index #section-write {
    flex: 5;
  }

  #index #section-read {
    flex: 4;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 87.5%;
  }

  #index header,
  #about header {
    margin: 1.5rem 1.5rem 3rem 1.5rem;
  }

  #index main {
    flex-direction: column;
  }

  #index #section-write {
    flex: initial;
  }

  #section-write #write-panel.edit-mode {
    height: 60vh;
    flex: 1;
  }

  #section-write #write-options {
    right: 40px;
    width: 2.5rem;
    height: 2.5rem;
  }

  #section-read #read-notes-list .note-container {
    flex-basis: 80%;
  }

  .greeting-panel {
    padding: 10% 5%;
  }

  #about main {
    margin: 0 1rem;
  }

  #about #advanced-switch {
    padding: 0.3rem 3rem;
  }
}

/*COLORS*/
:root {
  --base-color: hsla(
    var(--hue),
    calc(0% + var(--str)),
    calc(0% + var(--lum-back)),
    1
  );
  --base-text: hsla(
    var(--hue),
    calc(0% + var(--str)),
    calc(0% + var(--lum-front)),
    1
  );
  --base-buttons: hsla(
    var(--hue),
    calc(0% + var(--str)),
    calc(10% + var(--lum-mid)),
    1
  );
  --base-write-input: hsla(
    var(--hue),
    calc(0% + var(--str)),
    calc(0% + var(--lum-mid)),
    1
  );
  --base-note-container: hsla(
    var(--hue),
    calc(0% + var(--str)),
    calc(0% + var(--lum-mid)),
    1
  );
  --base-note-action-container: hsla(
    var(--hue),
    calc(0% + var(--str)),
    calc(-5% + var(--lum-mid)),
    1
  );
  --base-note-action-button: hsla(
    var(--hue),
    calc(0% + var(--str)),
    calc(0% + var(--lum-front)),
    1
  );
}

/*NAV (ALL PAGES)*/
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 2rem 4rem;

  user-select: none;
}

nav ul {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
}

nav li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#logo {
  font-family: 'DM Serif Text', serif;
  color: var(--base-text);
  font-style: italic;

  font-size: 2.5rem;
}

/*INDEX///////////////////////////*/

#index {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--base-color);
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#index #nav-update,
#about #nav-update {
  color: var(--base-text);
}

#index #nav-update:hover,
#about #nav-update:hover {
  text-decoration: underline;
}

#index #theme-container {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.5rem;
  gap: 0.5rem;
  border-radius: 2rem;

  background-color: var(--base-note-container);
  color: var(--base-text);

  cursor: pointer;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#index #theme-container:active {
  transform: scale(0.9);
}

#index #theme-color {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  background-color: var(--base-text);
}

#index main {
  display: flex;
  flex: 1;
}

#index,
#index #write-input {
  font-family: 'Merriweather Sans', sans-serif;
}

/*-----SECTION-WRITE-----*/

#welcome-panel {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 2rem;

  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

#welcome-panel.edit-mode {
  margin: 0;
}

#welcome-text-container {
  font-family: 'DM Serif Text', serif;
  color: var(--base-text);
  font-style: italic;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;

  white-space: pre-wrap;

  filter: opacity(80%);
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}

#write-panel {
  display: flex;
  position: sticky;
  top: 50px;
  flex-direction: column;
  align-items: center;
}

#write-panel.edit-mode {
  height: 70vh;
}

#write-label {
  text-align: center;
  font-weight: 700;
  font-size: 1.3rem;
  color: var(--base-text);

  user-select: none;
}

#write-options {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--base-buttons);
  border-color: var(--base-text);
  border-width: 5px;
  box-shadow: 0px 3px 5px black;

  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#write-input {
  height: 6rem;
  width: 65%;
  margin: 4px 10px 4px 10px;
  padding: 10px 20px 10px 10px;

  resize: none;

  font-size: 1rem;

  border-width: 4px;
  border-radius: 20px;
  border-color: var(--base-write-input);

  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#write-input.edit-mode {
  width: 80%;
  flex: 1;
}

#write-input:focus {
  width: 80%;
  height: 7rem;
  outline: 0;
  border-width: 7px;
  box-shadow: 0 0 30px var(--base-write-input);
}

#write-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.write-buttons {
  color: var(--base-text);
  background: var(--base-buttons);
  padding: 1.5rem 1.8rem;

  border-style: none;
  border-radius: 1.3rem;

  font-family: 'DM Serif Text', serif;
  font-style: italic;
  font-size: 1.4rem;
  font-weight: 700;

  line-height: 0px;

  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  user-select: none;
}

.write-buttons:focus {
  outline: 0;
}

.write-buttons:active:enabled {
  transform: scale(0.8);
}

.write-buttons:hover:enabled {
  filter: brightness(90%);
  cursor: pointer;
}

.write-buttons:disabled {
  filter: opacity(30%);
  transform: scale(0.95);
}

/*-----SECTION-READ-----*/

#section-read {
  margin-top: 2rem;
}

#section-read.edit-mode {
  pointer-events: none;
  opacity: 0.4;
}

/*----Search----*/
/*
#read-search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#read-search-input {
  font-size: 0.8rem;
}
*/

/*----Read notes----*/

#read-panel {
  margin-top: 10px;
  border-style: none;

  opacity: 0;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#read-options {
  display: flex;
  justify-content: end;
}

#read-options-sort {
  display: flex;
  color: var(--base-text);
  text-decoration: underline;

  margin: 0 1rem;

  user-select: none;
  cursor: pointer;
}

#read-notes-list {
  display: flex;
  justify-content: center;
}

#section-read .note-container {
  display: flex;
  flex-direction: row;
  height: max-content;
  margin: 1rem;

  background-color: var(--base-note-container);

  border-width: 6px;
  border-color: var(--base-text);
  border-radius: 1.2rem;
  box-shadow: 2px 9px 5px 1px hsla(33, 10%, 18%, 20%);

  list-style-type: none;

  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#section-read .note-container:hover {
  transform: scale(1.02);
  cursor: pointer;
}

#section-read .action-buttons-container {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  align-items: center;
  border-radius: 1.2rem 0 0 1.2rem;
  background-color: var(--base-note-action-container);
}

.action-buttons {
  color: var(--base-note-action-button);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  padding: 0.5rem 0.3rem;

  user-select: none;
}

.action-buttons:hover {
  transform: scale(1.2);
}

.action-buttons:active {
  transform: scale(0.9);
  outline: 0;
}

#section-read .note-text-container {
  padding: 1rem 1rem 0.3rem 1rem;
}

#section-read .note-date-container p {
  font-style: italic;
  margin-top: 1rem;
  font-size: 65%;
}

.note-container p {
  color: var(--base-text);
  white-space: pre-wrap;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;

  cursor: default;
  user-select: none;
}

footer p {
  font-weight: bold;
  color: var(--base-text);
  padding: 0.1rem 0.5rem;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: var(--base-text);
  border-radius: 10px 10px 0 0;
}

footer p span {
  font-size: 150%;
  font-style: italic;
  font-family: 'DM Serif Text', serif;
  padding-right: 0.2rem;
}

/*GREETINGS DESIGN///////////////////////////*/
.greeting-panel {
  position: absolute;
  height: 100%;
  width: 100%;
  /*padding: alterado em @media*/

  color: var(--base-text);
  background-color: var(--base-color);

  cursor: default;
  user-select: none;
}

.greeting-section-main {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;

  background-color: var(--base-color);
  filter: brightness(90%);
  border-radius: 15px;
}

.greeting-section-title {
  display: flex;
}

.greeting-title1 {
  font-size: 2rem;
  text-align: center;
}

.greeting-title-icon {
  height: 3rem;
  width: auto;
}

.greeting-title2 {
  font-size: 3.5rem;
  font-family: 'DM Serif Text', serif;
  padding-top: 0.25rem;
  padding-left: 0.2rem;
  font-style: italic;
  font-weight: bold;
  line-height: 2rem;
}

.greeting-description-title {
  margin-left: 2rem;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: 2px underline;
}

.greeting-description-point {
  margin-bottom: 1.5rem;
  margin-left: 2rem;
  font-size: 1rem;
}

/* ABOUT DESIGN///////////////////////////*/
#about {
  display: flex;
  flex-direction: column;
  font-family: 'Merriweather Sans', sans-serif;
  background-color: var(--base-color);
  color: var(--base-text);

  cursor: default;
  user-select: none;
}

#about a {
  color: var(--base-text);
}

#about h3 {
  font-size: 1.5rem;
}

#about-app {
  margin: 3rem 0;
}

#about-app-point li {
  text-indent: 5rem;
}

#about textarea {
  border-radius: 0.5rem;
}

#about #enote-notes-container {
  display: flex;
}

#about #enote-notes-add {
  font-family: 'Merriweather Sans', sans-serif;
  color: var(--base-text);
  background: var(--base-buttons);
  padding: 0.3rem 0.8rem;

  border-style: none;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 700;
  transition: all 0.2s;

  user-select: none;
  cursor: pointer;
}

#about #enote-notes-add:disabled {
  filter: opacity(10%);
}

#about-author {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;

  border: 1px solid;
  border-color: var(--base-text);
  border-radius: 3rem;
  padding: 1rem;
  margin: 0 0 4rem 0;
}

#about-author h3 {
  font-family: 'DM Serif Text', serif;
  color: var(--base-text);
  font-style: italic;
}

#about-author p {
  font-size: 1.1rem;
}

#about-author a {
  text-decoration: underline;
}

#about-author-image {
  height: 6rem;
  width: auto;

  margin: 1.1rem 0;
}

#about-author-mail {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin-top: 1rem;
}

#about-update-gen-actual {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
}

#about-update-gen-actual img {
  height: 8rem;
  width: auto;
}

#gen-child-1 {
  font-family: 'DM Serif Text', serif;
  font-style: italic;
  font-weight: bold;
  font-size: 2rem;
}

#gen-child-2 {
  padding: 0 1rem;

  font-size: 1.2rem;
  font-weight: bold;
}

#about-update-logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  margin: 1rem 0;
  padding: 1rem 0;

  position: sticky;
  top: -2px;

  background-color: var(--base-color);
}

#advanced-switch {
  text-align: center;
  padding: 0.3rem;
  border: 1px solid;
  border-color: var(--base-text);
  border-radius: 2rem;

  cursor: pointer;
}

#about-update {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
}

#about-update-list {
  margin: 2px;
}

.about-update-point {
  margin-bottom: 2rem;
}

.update-description {
  margin-bottom: 0.5rem;
}

.update-type {
  border: 1px solid;
  border-color: var(--base-text);
  border-radius: 5px;
  padding: 0.08px 2px;
  margin-right: 4px;
}

.about-update-point-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.update-advanced {
  font-style: italic;
  font-size: 1.1rem;
}

#about-update-point-actual {
  border: 1px solid;
  border-color: var(--base-text);
  border-radius: 1rem;
  padding: 1rem;
  margin: 1.5rem 0;
}

.about-update-point-version {
  font-size: 1.7rem;
  font-weight: bold;
}
